html {
  font-size: 62.5%; }

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 225px; }
  body h3 {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: black; }

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.redes p {
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
  background-color: beige;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-start-end-radius: 200px; }

.copy {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-flow: wrap row;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 100;
  text-align: center;
  color: black;
  background-color: beige; }

.novedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 100px; }
  .novedades h4 {
    font-weight: 1000;
    font-size: 1.5rem;
    text-align: center;
    color: black; }
  .novedades p {
    vertical-align: bottom;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify; }
  .novedades div {
    text-align: center;
    background-color: #f0eae2; }

#nota1, #nota2, #nota3 {
  display: inline-flexbox;
  border: 1px solid #c7d2d6;
  width: 300px;
  height: 400px;
  margin: 50px;
  padding: 10px;
  border-radius: 20px;
  background: rgba(141, 182, 221, 0.644);
  /*    background: linear-gradient(90deg, rgba(246,221,232,1) 97%, rgba(224,190,190,1) 100%);*/
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
  box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
  #nota1 p, #nota2 p, #nota3 p {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif; }

#nota2, #nota3 {
  float: inline-start; }

/*BANNER ASOCIADOS*/
.asociados {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: aquamarine;
  width: 100%;
  height: 200px;
  margin-bottom: 100px;
  margin-top: 100px; }

.bahia img {
  width: 100px;
  height: 100px;
  margin: 100px;
  border-radius: 100px; }

.larioja img {
  width: 100px;
  height: 100px;
  margin: 100px;
  border-radius: 100px; }

/*COMUNICACION*/
.comunicacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px; }
  .comunicacion h3 {
    font-weight: 1000;
    font-size: 2rem;
    text-align: center;
    color: black; }
  .comunicacion h4 {
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    color: black; }
  .comunicacion p {
    display: flex;
    font-weight: 75px;
    font-size: 2rem;
    text-align: center;
    color: black; }

.mapa iframe {
  width: 200px;
  height: 200px; }

.form {
  background-color: beige;
  padding: 15px;
  width: 200px;
  height: 200px;
  justify-content: center; }
  .form legend {
    float: inline-start;
    font-weight: 75px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: black; }

/*SOBRE NOSOTOROS*/
.somos {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.80rem;
  border: 1px solid #c7d2d6;
  width: 90%;
  height: 100%;
  margin: 50px;
  padding: 10px;
  border-radius: 20px;
  background: rgba(141, 182, 221, 0.644);
  /*    background: linear-gradient(90deg, rgba(246,221,232,1) 97%, rgba(224,190,190,1) 100%);*/
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
  box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
  .somos img {
    display: flex;
    align-content: center;
    width: 100%;
    height: 65%;
    border-radius: 10px;
    margin-bottom: 10px; }

.valores {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  width: 100%;
  justify-content: space-evenly; }
  .valores #val1, .valores #val2, .valores #val3 {
    display: inline-flexbox;
    border: 1px solid #c7d2d6;
    width: 250px;
    height: 100%;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(240, 240, 240, 0.493);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
    box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
    .valores #val1 p, .valores #val2 p, .valores #val3 p {
      padding-top: 10px;
      color: #fa0606;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 1000; }
  .valores #txt1 p {
    padding-top: 10px;
    color: black;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .valores #val2 p {
    color: #37fa06; }
  .valores #txt2 p {
    padding-top: 10px;
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .valores #val3 p {
    color: #060afa; }
  .valores #txt3 p {
    padding-top: 10px;
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.autorCont {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 500px;
  border-radius: 25px;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 100px; }

#presi img {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 100px; }

#vice img {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 100px; }

/*REGLAMENTOS*/
h2 {
  font-weight: 200;
  font-weight: 700;
  font-size: 3rem;
  /* = 20px */
  text-align: center;
  /* UBICACION DE TXT*/
  color: black; }

.foam {
  display: inline-flex;
  flex-flow: wrap row;
  justify-content: space-around; }
  .foam article img {
    width: 200px;
    height: 200px;
    margin: 100px;
    border-radius: 100px; }
    .foam article img:hover {
      height: 250px;
      width: 250px; }
  .foam article a {
    display: flex;
    margin-left: 50px; }
  .foam p {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    background-color: darkgrey;
    border-radius: 50px;
    width: 300px;
    height: 125px;
    margin: 75px;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem; }

.cloth {
  display: inline-flex;
  flex-flow: wrap row;
  justify-content: space-around;
  /*margin: 75px;*/ }
  .cloth article img {
    width: 200px;
    height: 200px;
    margin: 100px;
    border-radius: 100px; }
    .cloth article img:hover {
      height: 250px;
      width: 250px; }
  .cloth article a {
    display: flex;
    margin-left: 50px; }
  .cloth p {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    background-color: darkgrey;
    border-radius: 50px;
    width: 300px;
    height: 150px;
    margin: 75px;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem; }

.torneos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 100px; }
  .torneos p {
    background-color: honeydew;
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-left: 100px;
    border-radius: 50px;
    width: 250px;
    height: 200px;
    padding-top: 15px; }
  .torneos #imgvivo img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 0px; }
    .torneos #imgvivo img:hover {
      height: 350px;
      width: 350px; }

#torreg {
  display: flex;
  justify-content: center;
  height: 600px; }
  #torreg #vivo iframe {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px; }

/*INTERNACIONAL*/
.inter {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
  margin-top: 100px; }
  .inter p {
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 500px;
    text-align: justify;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
    box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
    .inter p img {
      justify-content: center;
      margin-top: 15px;
      margin-left: 10px;
      margin-right: 10px;
      height: 200px;
      width: 250px; }
      .inter p img:hover {
        -webkit-box-shadow: 0px 0px 15px 5px #000000;
        box-shadow: 0px 0px 15px 5px #000000; }

.nac {
  display: flex;
  flex-flow: wrap row;
  background-color: rgba(53, 201, 8, 0.281);
  width: 90%;
  height: 450px;
  border-radius: 20px;
  border-bottom: lightgreen;
  padding: 25px;
  margin: 40px;
  margin-bottom: 100px;
  justify-content: center; }
  .nac img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px; }
  .nac p {
    display: flex;
    margin: 20px;
    flex-flow: wrap row;
    text-align: center;
    font-size: 2rem; }

/*MEDIA QUERIES*/
/*tablet ipad*/
@media screen and (max-width: 1023px) {
  /*novedades*/
  .novedades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .somos p {
    height: 1050px; }
  .autorCont {
    height: 300px; }
  #vivo iframe {
    margin-left: 0px;
    height: 200px;
    width: 200px; }
  .inter {
    height: 1300px; }
  .nac {
    width: 80%;
    height: 600px; } }

@media screen and (max-width: 890px) {
  .somos {
    height: 1280px; } }

@media screen and (max-width: 616px) {
  .bahia img {
    width: 75px;
    height: 75px;
    margin: 75px;
    border-radius: 75px; }
  .larioja img {
    width: 75px;
    height: 75px;
    margin: 75px;
    border-radius: 75px; }
  .bahia {
    width: 100px; }
  .comunicacion {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px; }
    .comunicacion p {
      display: flex;
      margin: 25px;
      font-weight: 50px;
      font-size: 1.5rem; }
  .mapa iframe {
    width: 300px;
    height: 150px; }
  .form {
    padding: 15px;
    margin-top: 25px;
    width: 250px;
    height: 150px; }
    .form legend {
      display: flex;
      font-weight: 15px;
      margin-bottom: 5px;
      font-size: 1rem;
      justify-content: center; }
  /*NOSOTROS*/
  .somos {
    width: 80%;
    height: 1500px;
    margin: none;
    padding: 10px;
    border-radius: 20px; }
    .somos img {
      display: flex;
      align-content: center;
      width: 100%;
      height: 25%;
      border-radius: 10px;
      margin-bottom: 10px; }
  .valores {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    width: 100%;
    justify-content: space-evenly; }
    .valores #val1, .valores #val2, .valores #val3 {
      display: inline-flexbox;
      border: 1px solid #c7d2d6;
      width: 250px;
      height: 100%;
      margin: 50px;
      padding: 10px;
      border-radius: 20px;
      background: rgba(240, 240, 240, 0.493);
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
      box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
      .valores #val1 p, .valores #val2 p, .valores #val3 p {
        padding-top: 10px;
        color: #fa0606;
        text-align: center;
        font-size: 1.75rem;
        font-weight: 1000; }
    .valores #txt1 p {
      padding-top: 10px;
      color: black;
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .valores #val2 p {
      padding-top: 10px;
      color: #37fa06;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 1000; }
    .valores #txt2 p {
      padding-top: 10px;
      color: black;
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .valores #val3 p {
      padding-top: 10px;
      color: #060afa;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 1000; }
    .valores #txt3 p {
      padding-top: 10px;
      color: black;
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .autorCont {
    display: flex;
    width: 80%;
    height: 450px;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 100px; }
  #presi img {
    display: flex;
    width: 200px;
    height: 100px;
    margin: 0px;
    border-radius: 100px; }
  #vice img {
    display: flex;
    width: 200px;
    height: 100px;
    margin: 0px;
    border-radius: 100px; }
  #vice {
    text-align: center; }
  #presi {
    text-align: center; } }

/*reglamentos*/
.foam {
  width: 100%; }
  .foam p {
    height: 500px; }

.cloth {
  width: 100%; }
  .cloth p {
    height: 600px; }

/*internacional*/
.inter {
  height: auto; }

.nac {
  width: auto;
  height: auto; }
  .nac img {
    height: 100px;
    width: 100px; }
  .nac p {
    display: flex;
    flex-flow: wrap row;
    text-align: center;
    font-size: 2rem; }

/*TORNEOS*/
.torneos p {
  margin-left: 50px;
  margin-bottom: 50px; }
