html {
  font-size: 62.5%; }

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 225px; }
  body h3 {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 3rem;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    color: black; }

#bannerImg {
  display: flex;
  position: absolute;
  width: 100%;
  height: 200px; }

.navBar {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px 2px 5px 0px #000000;
  box-shadow: 0px 2px 5px 0px #000000; }
  .navBar .logo {
    display: flex;
    align-items: center; }
    .navBar .logo img {
      display: flex;
      height: 100px; }
  .navBar nav {
    display: flex;
    justify-content: start;
    align-items: center; }
    .navBar nav ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 100px; }
      .navBar nav ul li {
        display: flex;
        justify-content: space-between;
        margin: 10px; }
        .navBar nav ul li a {
          font-family: 'Assistant', sans-serif;
          font-size: 1.75rem;
          color: white;
          padding: 15px;
          font-weight: 700;
          text-decoration: none; }
    .navBar nav .nav-desp {
      display: none; }
    .navBar nav .li-desp:hover {
      background-color: rgba(78, 72, 72, 0.542);
      border-radius: 50px;
      justify-content: center;
      height: auto;
      width: auto; }
      .navBar nav .li-desp:hover .nav-desp {
        display: flex;
        margin-top: 35px;
        position: absolute; }
        .navBar nav .li-desp:hover .nav-desp li:hover {
          display: flex;
          margin-top: 20px;
          background-color: rgba(78, 72, 72, 0.542);
          border-radius: 50px;
          height: auto;
          width: auto; }

.btn-whatsapp {
  display: block !important;
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100px !important; }

.btn-whatsapp:hover {
  border-radius: 100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px #075e54;
  -moz-box-shadow: 0px 0px 15px 0px #075e54;
  box-shadow: 0px 0px 15px 0px #075e54;
  transition-duration: 1s; }

/*FOOTER*/
#bannerFooter {
  display: flex;
  position: absolute;
  width: 100%;
  height: 200px;
  border-start-end-radius: 200px; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.redes p {
  display: flex;
  position: relative;
  height: 100px;
  margin-bottom: 0px;
  padding: 0px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-start-end-radius: 200px; }

#tw {
  display: flex; }

#ig {
  display: flex; }

#yt {
  display: flex; }

#fb {
  display: flex; }

.copy {
  display: flex;
  position: relative;
  margin: 0px;
  padding: 0px;
  flex-flow: wrap row;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 100;
  text-align: center;
  color: #fafcfc; }

#slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  max-height: 500px; }

.mySlides {
  display: none; }

#img {
  height: 500px; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

/*BANNER ASOCIADOS  hacerlo slide tambien pero controlado por mi*/
#slide-asociados {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: aquamarine;
  width: 100%;
  height: 200px;
  margin-bottom: 300px;
  margin-top: 100px; }
  #slide-asociados .mySlides2 a {
    color: antiquewhite; }

.bahia img {
  width: 100px;
  height: 100px;
  margin: 100px;
  border-radius: 100px; }

.larioja img {
  width: 100px;
  height: 100px;
  margin: 100px;
  border-radius: 100px; }

#news {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #news #cardNews {
    display: flex;
    max-width: 300px;
    max-height: auto;
    border-radius: 50px;
    flex-flow: wrap row;
    -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.55); }
    #news #cardNews #title-card {
      display: flex;
      width: 100%;
      font-size: 2rem;
      height: 50px;
      margin: 0px;
      justify-content: center;
      align-items: center; }
    #news #cardNews p {
      padding-left: 5px;
      font-size: 1.5rem;
      padding-right: 5px; }
    #news #cardNews img {
      display: flex;
      width: 100%;
      height: 200px;
      margin: 0px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px; }
    #news #cardNews a {
      display: flex;
      height: 25px;
      width: 75px;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      background-color: darkslategrey;
      margin-bottom: 50px;
      padding-left: 5px;
      font-size: 1.1rem;
      color: white;
      text-decoration: none;
      margin-top: 25px; }

/*COMUNICACION*/
.comunicacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px; }
  .comunicacion h3 {
    font-weight: 1000;
    font-size: 2rem;
    text-align: center;
    color: black; }
  .comunicacion h4 {
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    color: black; }
  .comunicacion p {
    display: flex;
    font-weight: 75px;
    font-size: 2rem;
    text-align: center;
    color: black; }

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 200px; }
  .contact #buttonContact {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
    border: 0px;
    border-radius: 5px; }
  .contact #btnEnviar {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    margin: 25px;
    color: white;
    background-color: darkslategrey; }
  .contact #buttonContact:hover {
    background-color: rgba(47, 79, 79, 0.599); }
  .contact #vForm {
    display: none; }
  .contact #signup-form {
    display: flex;
    margin: 0px;
    border: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; }
    .contact #signup-form input {
      width: 400px;
      height: 50px;
      border-radius: 5px;
      margin: 25px;
      color: white;
      background-color: darkslategrey; }
    .contact #signup-form legend {
      display: flex;
      width: 100%;
      font-weight: 75px;
      font-size: 2rem;
      justify-content: center;
      text-align: center;
      color: darkslategrey; }

/*SOBRE NOSOTOROS*/
#somos {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.80rem;
  border: 1px solid #c7d2d6;
  width: 90%;
  height: 100%;
  margin: 50px;
  padding: 10px;
  border-radius: 20px;
  background: rgba(141, 182, 221, 0.644);
  /*    background: linear-gradient(90deg, rgba(246,221,232,1) 97%, rgba(224,190,190,1) 100%);*/
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
  box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
  #somos img {
    display: flex;
    align-content: center;
    width: 100%;
    height: 65%;
    border-radius: 10px;
    margin-bottom: 10px; }

#valores {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  width: 100%;
  justify-content: space-evenly; }
  #valores #val1, #valores #val2, #valores #val3 {
    display: inline-flexbox;
    border: 1px solid #c7d2d6;
    width: 250px;
    height: 100%;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(240, 240, 240, 0.493);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
    box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
    #valores #val1 img, #valores #val2 img, #valores #val3 img {
      display: flex;
      height: 125px;
      width: 125px;
      margin-left: 60px; }
    #valores #val1 p, #valores #val2 p, #valores #val3 p {
      padding-top: 10px;
      color: #fa0606;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 1000; }
  #valores #txt1 p {
    padding-top: 10px;
    color: black;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  #valores #val2 p {
    color: #37fa06; }
  #valores #txt2 p {
    padding-top: 10px;
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  #valores #val3 p {
    color: #060afa; }
  #valores #txt3 p {
    padding-top: 10px;
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.autorCont {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  border-radius: 25px;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 100px; }

#presi img {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 100px; }

#vice img {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 100px; }

.mapa {
  display: flex;
  flex-flow: row wrap;
  margin-left: 100px; }
  .mapa h4 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-flow: row wrap; }
  .mapa #submap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px; }
  .mapa #txtCard {
    display: flex;
    border-radius: 50px;
    width: 500px;
    background-color: darkgray;
    height: 300px;
    margin-left: 50px;
    justify-content: center;
    align-items: center; }
    .mapa #txtCard p {
      display: flex;
      height: 200px;
      width: 600px;
      font-size: 1.85rem;
      margin: 25px;
      text-justify: distribute; }

/*REGLAMENTOS*/
h2 {
  font-weight: 200;
  font-weight: 700;
  font-size: 3rem;
  /* = 20px */
  text-align: center;
  /* UBICACION DE TXT*/
  color: black; }

#foam {
  display: inline-flex;
  flex-flow: wrap row;
  justify-content: space-around; }
  #foam article img {
    width: 200px;
    height: 200px;
    border-radius: 100px; }
  #foam p {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    background-color: darkgrey;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 1.75rem; }
    #foam p a {
      display: flex;
      height: 25px;
      width: 450px;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      background-color: darkslategrey;
      margin-bottom: 5px;
      padding-left: 5px;
      font-size: 1.5rem;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      margin-top: 25px; }

#cloth {
  display: inline-flex;
  flex-flow: wrap row;
  justify-content: space-around;
  margin-bottom: 200px; }
  #cloth article img {
    width: 200px;
    height: 200px;
    border-radius: 100px; }
  #cloth p {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    background-color: darkgrey;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 1.75rem; }
    #cloth p a {
      display: flex;
      height: 25px;
      width: 450px;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      background-color: darkslategrey;
      margin-bottom: 5px;
      padding-left: 5px;
      font-size: 1.5rem;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      margin-top: 25px; }

#divTorneo {
  display: block;
  width: 100%; }

.torneos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 100px; }
  .torneos p {
    background-color: honeydew;
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-left: 100px;
    border-radius: 50px;
    width: 250px;
    height: 200px;
    padding-top: 15px; }
  .torneos #imgvivo img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 0px; }
    .torneos #imgvivo img:hover {
      height: 350px;
      width: 350px; }

#torreg {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  height: 800px;
  margin-bottom: 200px;
  width: 100%; }
  #torreg article {
    display: flex;
    width: 350px;
    height: 200px;
    margin-bottom: 150px; }
    #torreg article iframe {
      width: 100%;
      height: 300px; }

/*INTERNACIONAL*/
.inter {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
  margin-top: 100px; }
  .inter div {
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 500px;
    text-align: justify;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
    box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
    .inter div img {
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      margin-left: 10px;
      margin-right: 10px;
      height: 200px;
      width: 95%; }
      .inter div img:hover {
        -webkit-box-shadow: 0px 0px 15px 5px #000000;
        box-shadow: 0px 0px 15px 5px #000000; }

.nac {
  display: flex;
  flex-flow: wrap row;
  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center; }
  .nac img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 600px;
    width: 100%; }
  .nac p {
    display: flex;
    margin: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    flex-flow: wrap row;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700; }
  .nac #list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .nac #list img {
      width: 300px;
      height: 300px;
      margin: 20px; }

/*MEDIA QUERIES*/
/*tablet ipad*/
@media screen and (max-width: 1023px) {
  /*novedades*/
  .novedades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .somos p {
    height: 1050px; }
  .autorCont {
    height: 300px; }
  #vivo iframe {
    margin-left: 0px;
    height: 200px;
    width: 200px; }
  .inter {
    height: 1300px; }
  .nac {
    width: 80%;
    height: 600px; } }

@media screen and (max-width: 890px) {
  .somos {
    height: 1280px; } }

@media screen and (max-width: 616px) {
  .bahia img {
    width: 75px;
    height: 75px;
    margin: 75px;
    border-radius: 75px; }
  .larioja img {
    width: 75px;
    height: 75px;
    margin: 75px;
    border-radius: 75px; }
  .bahia {
    width: 100px; }
  .comunicacion {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px; }
    .comunicacion p {
      display: flex;
      margin: 25px;
      font-weight: 50px;
      font-size: 1.5rem; }
  .mapa iframe {
    width: 300px;
    height: 150px; }
  .form {
    padding: 15px;
    margin-top: 25px;
    width: 250px;
    height: 150px; }
    .form legend {
      display: flex;
      font-weight: 15px;
      margin-bottom: 5px;
      font-size: 1rem;
      justify-content: center; }
  /*NOSOTROS*/
  .somos {
    width: 80%;
    height: 1500px;
    margin: none;
    padding: 10px;
    border-radius: 20px; }
    .somos img {
      display: flex;
      align-content: center;
      width: 100%;
      height: 25%;
      border-radius: 10px;
      margin-bottom: 10px; }
  .valores {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    width: 100%;
    justify-content: space-evenly; }
    .valores #val1, .valores #valores #val2, #valores .valores #val2, .valores #valores #val3, #valores .valores #val3 {
      display: inline-flexbox;
      border: 1px solid #c7d2d6;
      width: 250px;
      height: 100%;
      margin: 50px;
      padding: 10px;
      border-radius: 20px;
      background: rgba(240, 240, 240, 0.493);
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0);
      box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247, 255, 217, 0); }
      .valores #val1 p, .valores #valores #val2 p, #valores .valores #val2 p, .valores #valores #val3 p, #valores .valores #val3 p {
        padding-top: 10px;
        color: #fa0606;
        text-align: center;
        font-size: 1.75rem;
        font-weight: 1000; }
    .valores #txt1 p {
      padding-top: 10px;
      color: black;
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .valores #val2 p {
      padding-top: 10px;
      color: #37fa06;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 1000; }
    .valores #txt2 p {
      padding-top: 10px;
      color: black;
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .valores #val3 p {
      padding-top: 10px;
      color: #060afa;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 1000; }
    .valores #txt3 p {
      padding-top: 10px;
      color: black;
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .autorCont {
    display: flex;
    width: 80%;
    height: 450px;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 100px; }
  #presi img {
    display: flex;
    width: 200px;
    height: 100px;
    margin: 0px;
    border-radius: 100px; }
  #vice img {
    display: flex;
    width: 200px;
    height: 100px;
    margin: 0px;
    border-radius: 100px; }
  #vice {
    text-align: center; }
  #presi {
    text-align: center; } }

#provs {
  display: flex;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  flex-flow: row wrap;
  justify-content: center; }

#bsas {
  display: flex;
  width: 90%;
  height: 300px;
  background-color: rgba(255, 238, 0, 0.558);
  border-radius: 50px;
  -webkit-box-shadow: -1px 3px 28px 4px #000;
  box-shadow: -1px 3px 28px 4px #000;
  margin-bottom: 75px; }
  #bsas img {
    height: 299px;
    width: 30%;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  #bsas p {
    display: flex;
    margin: 25px;
    font-size: 2rem;
    width: 50%;
    height: 250px;
    justify-content: center; }

#laRioja {
  display: flex;
  width: 90%;
  height: 300px;
  background-color: rgba(129, 31, 31, 0.558);
  border-radius: 50px;
  -webkit-box-shadow: -1px 3px 28px 4px #000;
  box-shadow: -1px 3px 28px 4px #000;
  margin-bottom: 75px; }
  #laRioja img {
    height: 299px;
    width: 30%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  #laRioja p {
    display: flex;
    margin: 25px;
    font-size: 2rem;
    width: 50%;
    height: 250px;
    justify-content: center; }

#cordoba {
  display: flex;
  width: 90%;
  height: 300px;
  background-color: rgba(250, 4, 4, 0.618);
  border-radius: 50px;
  -webkit-box-shadow: -1px 3px 28px 4px #000;
  box-shadow: -1px 3px 28px 4px #000;
  margin-bottom: 75px; }
  #cordoba img {
    height: 299px;
    width: 30%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  #cordoba p {
    display: flex;
    margin: 25px;
    font-size: 2rem;
    width: 50%;
    height: 250px;
    justify-content: center; }

/*
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#noti{

    display: flex;
    width: 100%;
    

#noti2{
    display: flex;
    min-height: 500px;
    max-height: 1500px;
    width: 100%;    
    justify-content: center;
    
    

    p{
        display: block;
        flex-flow: row wrap;
        max-height: 1000px;
        max-width: 80%;
        background-color: aqua;
    }

}
}

*/
#main {
  display: block;
  margin: 20px;
  margin-bottom: 700px;
  max-height: 1500px;
  margin-top: 50px; }
  #main .primary {
    float: left;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
    border-right: 1px solid #11ff00; }
    #main .primary #titulo {
      display: flex;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      color: black;
      justify-content: left;
      font-size: 2rem;
      border: 0px;
      justify-content: center;
      align-items: center; }
    #main .primary #titulo1 {
      display: flex;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      color: white;
      justify-content: center;
      border: 0px; }
    #main .primary img {
      height: 450px;
      width: 100%; }
    #main .primary .breadcrumbs {
      display: flex;
      height: 15px;
      margin-bottom: 20px;
      align-items: center; }
      #main .primary .breadcrumbs #b {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1398d1;
        font-weight: 700;
        font-size: small;
        margin-right: 5px;
        margin-top: 0px; }
      #main .primary .breadcrumbs #c {
        color: #050101;
        font-weight: 700;
        margin-right: 5px;
        font-size: small;
        margin-top: 0px; }
      #main .primary .breadcrumbs #d {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: darkgrey;
        font-size: small;
        font-weight: 700;
        margin-right: 5px;
        margin-top: 0px; }
  #main .secondary {
    float: right;
    width: 15%;
    height: 200px;
    margin-top: 50px;
    border-radius: 50px;
    align-items: center;
    justify-content: center; }
    #main .secondary .link {
      display: block;
      align-items: center;
      justify-content: center; }
      #main .secondary .link ul {
        padding-left: 0px; }
        #main .secondary .link ul li {
          list-style: none;
          display: flex;
          justify-content: center;
          align-content: center;
          font-weight: 700;
          text-decoration: none; }
          #main .secondary .link ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 10px;
            color: #1398d1;
            font-size: 15px;
            line-height: 20px;
            width: 100%;
            padding-bottom: 5px;
            border-radius: 9px;
            font-family: "Arial Black", Gadget, sans-serif;
            font-weight: normal;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none; }

h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

#products {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.card {
  display: block;
  width: 300px;
  height: 500px;
  flex-flow: row wrap;
  margin: 25px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-radius: 50px;
  border-color: black;
  -webkit-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.37); }
  .card .card-title {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    justify-content: center;
    margin-bottom: 25px; }
  .card .card-text {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 25px; }
  .card .bttn {
    display: flex;
    justify-content: center; }
  .card img {
    width: 300px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 250px; }
  .card .btn-qty {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .card .btn-qty .qty {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 15px;
      font-size: 1.2rem; }
    .card .btn-qty .plus {
      display: flex;
      width: 25px;
      justify-content: center;
      box-shadow: 2px 2px 7px 1px rgba(101, 197, 11, 0.3);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgba(221, 229, 235, 0.664);
      border: none;
      margin: 15px;
      border-radius: 5px; }
    .card .btn-qty .plus:hover {
      background-color: #07c03e; }
    .card .btn-qty .minus {
      display: flex;
      width: 25px;
      justify-content: center;
      box-shadow: 2px 2px 7px 1px rgba(101, 197, 11, 0.3);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgba(221, 229, 235, 0.664);
      border: none;
      margin: 15px;
      border-radius: 5px; }
    .card .btn-qty .minus:hover {
      background-color: rgba(236, 51, 5, 0.938); }

.add {
  display: flex;
  width: 150px;
  justify-content: center;
  box-shadow: 2px 2px 7px 1px rgba(28, 110, 164, 0.3);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(128, 174, 204, 0.664);
  border: none;
  padding: 15px;
  border-radius: 5px; }

.add:hover {
  background-color: transparent;
  text-emphasis-color: white; }

#cart {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  #cart h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 5rem;
    letter-spacing: 0.5rem; }
  #cart .vaciarCart {
    display: flex;
    width: 150px;
    justify-content: center;
    box-shadow: 2px 2px 7px 1px rgba(28, 110, 164, 0.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f80909;
    border: none;
    padding: 15px;
    border-radius: 5px; }
  #cart .vaciarCart:hover {
    background-color: transparent;
    text-emphasis-color: white; }

#btn-final #finalDiv {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center; }
  #btn-final #finalDiv #buttonFinal {
    display: flex;
    width: 150px;
    justify-content: center;
    box-shadow: 2px 2px 7px 1px rgba(28, 110, 164, 0.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0955f8;
    border: none;
    padding: 15px;
    border-radius: 5px; }
  #btn-final #finalDiv #buttonFinal:hover {
    background-color: transparent;
    text-emphasis-color: white; }
