html {
    font-size: 62.5%;

}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 225px;



    h3 {
        display: flex;
        justify-content: center;
        font-weight: 200;
        font-size: 3rem;
        margin-top: 200px;
        margin-bottom: 100px;
        text-align: center;
        color: black;
    }
}

#bannerImg{
    display: flex;
    position: absolute;
    width: 100%;
    height: 200px;
}

.navBar {

    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 2px 5px 0px #000000;
    box-shadow: 0px 2px 5px 0px #000000;

    .logo {
        display: flex;
        align-items: center;

        img {
            display: flex;
            height: 100px;
            //width: 100px;
        }
    }


    nav {
        display: flex;
        justify-content: start;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 100px;

            li {
                display: flex;
                justify-content: space-between;
                margin: 10px;

                a {
                    font-family: 'Assistant', sans-serif;
                    font-size: 1.75rem;
                    color: white;
                    padding: 15px;
                    font-weight: 700;
                    text-decoration: none;

                }

            }
        }

        .nav-desp {
            display: none;
        }


        .li-desp:hover {

            background-color: rgba(78, 72, 72, 0.542);
            border-radius: 50px;
            justify-content:center;
            height: auto;
            width: auto;

            .nav-desp {
                display: flex;;
                margin-top: 35px;
                position: absolute;


                li:hover {
                    display: flex;
                    margin-top: 20px;
                    background-color: rgba(78, 72, 72, 0.542);
                    border-radius: 50px;
                    height: auto;
                    width: auto;
                }
            }


        }

    }


}


//whatsappp
.btn-whatsapp {
    display: block !important;
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius:100px !important;
    }
    .btn-whatsapp:hover{
    border-radius:100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
    -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    transition-duration: 1s;
} 








/*FOOTER*/
#bannerFooter{
    display: flex;
    position: absolute;
    width: 100%;
    height: 200px;
    border-start-end-radius: 200px;

}


.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}


.redes p {
    display: flex;
    position: relative;
    height: 100px;
    margin-bottom: 0px;
    padding: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-start-end-radius: 200px;


}

#tw {
    display: flex;

}


#ig {
    display: flex;

}

#yt {
    display: flex;

}

#fb {
    display: flex;
}

.copy {
    display: flex;
    position: relative;
    margin: 0px;
    padding: 0px;
    flex-flow: wrap row;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
    color: rgb(250, 252, 252);
}



