html {
    font-size: 62.5%;
   
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 225px;

    h3{
        display: flex;
        justify-content: center;
        font-weight: 200;
        font-size: 2rem; 
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center; 
        color: black;
    }
}


/*FOOTER*/

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}


.redes p{
    display: flex;
    margin-bottom: 0px;
    padding: 0px;
    background-color:beige;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    border-start-end-radius: 200px;
}

.copy {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-flow: wrap row;
    justify-content: center;
    font-size: 1.25rem; 
    font-weight: 100;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color:beige;
}
