/*INTERNACIONAL*/

.inter{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    margin-top: 100px;

    p{
        background-color: whitesmoke;
        display: flex;
        flex-flow: row wrap;
        width: 300px;
        height: 500px;
        text-align: justify;
        font-size: 1.5rem;
        padding-left: 10px;
        padding-right: 15px;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247,255,217,0); 
        box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247,255,217,0);

        img{
            justify-content: center;
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
            height: 200px;
            width: 250px;

            &:hover{
                
                -webkit-box-shadow: 0px 0px 15px 5px #000000; 
                box-shadow: 0px 0px 15px 5px #000000;
            }
            
        }
    }

}

.nac{
    display: flex;
    flex-flow: wrap row;
    background-color: rgba(53, 201, 8, 0.281);
    width: 90%;
    height: 450px;
    border-radius: 20px;
    border-bottom: lightgreen;
    padding: 25px;
    margin: 40px;
    margin-bottom: 100px;
    justify-content: center;
    
    img{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 200px;
        width: 200px;
        border-radius: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    p{
        display: flex; 
        margin: 20px;
        flex-flow: wrap row;
        text-align: center;
        font-size: 2rem;
    }  
}

