/*MEDIA QUERIES*/

/*tablet ipad*/

@media screen and (max-width: 1023px ){
   
    
    /*novedades*/

    .novedades{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .somos p{
        height: 1050px;
    }
    
    .autorCont{
        height: 300px;
    }
    .gridContainer{
        grid-template-rows: none;
    }

    #vivo iframe {
        margin-left: 0px;;
        height: 200px;
        width: 200px;        
    }

    .inter{
        height: 1300px;
    }
    .nac{
        width: 80%;
        height: 600px;
    }

}


@media screen and (max-width: 616px){

    .bahia img {
        @include imgLog(75px,75px,75px,75px)
    }
    
    .larioja img {
        @include imgLog(75px,75px,75px,75px)
    }

    .bahia{
        width: 100px;
    }

    .comunicacion {
    
        width: 100%;
        margin-bottom: 100px;
        margin-top: 100px;
        
        p{
            display: flex;
            margin: 25px;
            font-weight: 50px;
            font-size: 1.5rem;
        
        }
    
    }
    
    .mapa iframe{
        width: 300px;
        height: 150px;
    }
    
    .form{
        padding: 15px;
        margin-top: 25px;
        width: 250px;
        height: 150px;
     
    
        legend{
            display: flex;
            font-weight: 15px;
            margin-bottom: 5px;
            font-size: 1rem; 
            justify-content: center;
        }
    }  
    
/*NOSOTROS*/

.somos{
    width: 80%;
    height: 1500px;
    margin: none;
    padding: 10px;
    border-radius: 20px;  
    

    img{
        display: flex;
        align-content: center;
        width: 100%;
        height: 25%;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}


.valores{

    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    width: 100%;
    justify-content: space-evenly;

   

    #val1{

        display: inline-flexbox;
        border: 1px solid rgb(199, 210, 214);  
        width: 250px;
        height: 100%;
        margin: 50px;
        padding: 10px;
        border-radius: 20px;    
        background: rgba(240, 240, 240, 0.493);
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247,255,217,0); 
        box-shadow: 0px 10px 13px -7px #000000, 23px 35px 41px 26px rgba(247,255,217,0);
    
        p{
            padding-top: 10px;
            color: rgb(250, 6, 6);
            text-align: center;
            font-size: 1.75rem;
            font-weight: 1000;
            
        }
                   
    }

    #txt1{

        p{
            padding-top: 10px;
            color: rgb(0, 0, 0);
            text-align: justify;
            font-size: 1.5rem;
            font-weight: 600;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }   

    }

    #val2{

        p{
            padding-top: 10px;
            color: rgb(55, 250, 6);
            text-align: center;
            font-size: 1.75rem;
            font-weight: 1000;
            
        }
                   
    }

    #txt2{

        p{
            padding-top: 10px;
            color: rgb(0, 0, 0);
            text-align: justify;
            font-size: 1.5rem;
            font-weight: 600;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }   

    }

    #val3{

        p{
            padding-top: 10px;
            color: rgb(6, 10, 250);
            text-align: center;
            font-size: 1.75rem;
            font-weight: 1000;
            
        }
                   
    }

    #txt3{

        p{
            padding-top: 10px;
            color: rgb(0, 0, 0);
            text-align: justify;
            font-size: 1.5rem;
            font-weight: 600;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }   

    }





}


.autorCont{
        display: flex;
        width: 80%;
        height: 450px;
        border-radius: 25px;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 100px;
    }

    

    @mixin imgAutor ($displ,$ancho, $alto, $margen, $radio) {
        display: $displ;
        width: $ancho;
        height: $alto;
        margin: $margen;
        border-radius: $radio;
    }
    
        
    #presi img{
        @include imgAutor(flex,200px,100px,0px,100px) 
          
    }
        
    #vice img{
        @include imgAutor(flex,200px,100px,0px,100px)
    }

    #vice{
        text-align: center;
    }

    #presi{
        text-align: center;
    }

    
}
   
    
/*reglamentos*/    
    
.foam{

    width: 93%;
    
    p{
        height: 500px;
    }        

}



.cloth{
    width: 93%;
    
    p{
        height: 600px;
    }        
}



/*internacional*/    
    .inter{
        height: auto;
    }
   
    .nac{
        width: auto;
        height: auto;

        img{
            height: 100px;
            width: 100px;          
        }

        p{
            display: flex; 
            flex-flow: wrap row;
            text-align: center;
            font-size: 2rem;

        }
        
    }  




/*TORNEOS*/


.torneos{
    
    p {
        margin-left: 50px;
        margin-bottom: 50px;
      
    }
  
}