/*SOBRE NOSOTOROS*/

/*ordenamiento grid*/
.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "somos somos valores"
    "autoridades autoridades valores"; /*poner las filas*/
    row-gap: 10px;

}
/*identidad de los grid*/
.autoridades{
    grid-area: autoridades;
}    

.somos{
    grid-area: somos;

    p{
        background-color: bisque;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        border: blanchedalmond;
        border-radius: 50px;
        height: 500px;
        text-align:justify;
        padding: 10px;
        font-size: 1.25rem;
        margin: 50px;

        img{
            display: flex;
            width: 200px;
            height: 200px;
            margin: 20px;
            border-radius: 25px;
        
        }

    }
}

.valores{
    grid-area: valores;
}


.contenedorVal{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    justify-content: space-evenly;
    background-color: rgb(168, 224, 112);
    border-radius: 30px;
    height: 1200px;
    margin-top: 50px;
    padding: 10px;

    h3{
        font-size: 3rem;
        font-weight: bolder;
    }

    h4{
        font-size: 1.25rem;
        font-style: normal;
    }

}

@mixin valores ($tipoLetra, $tamLetra) {
    font-size: $tamLetra;
    font-style: $tipoLetra;
}


#val1 {
    @include valores(oblique,2.5rem)
}

#val2{
   @extend #val1;
}
#val3{
   @extend #val1;
}

/*distribucion caja autoridades*/
.autorCont{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 500px;
    border-radius: 25px;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 100px;

}


@mixin imgAutor ($displ,$ancho, $alto, $margen, $radio) {
    display: $displ;
    width: $ancho;
    height: $alto;
    margin: $margen;
    border-radius: $radio;
}

    
#presi img{
    @include imgAutor(flex,200px,200px,20px,100px) 
      
}
    
#vice img{
    @include imgAutor(flex,200px,200px,20px,100px)
}

