/*REGLAMENTOS*/
h2{
    font-weight: 200;
    font-weight: 700;
    font-size: 3rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;
}

#foam{
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-around;

    article {
        img{
            width: 200px;
            height: 200px;
            border-radius: 100px;

        }
        a{
            display: flex;
            margin-left: 50px;
        }

    }

    p{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        background-color: darkgrey;
        border-radius: 50px;
        padding: 15px;
        margin: 10px;
        text-align: center;
        font-size: 1.75rem;
    }        

}



#cloth{
    display: inline-flex;   
    flex-flow: wrap row;
    justify-content: space-around;
    margin-bottom: 200px;
   
    article {
        img{
            width: 200px;
            height: 200px;
            border-radius: 100px;

        }
        a{
            display: flex;
            margin-left: 50px;
        }

    }

    p{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        background-color: darkgrey;
        border-radius: 50px;
        padding: 15px;
        margin: 10px;
        text-align: center;
        font-size: 1.75rem;
    }        


}
