h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}



#products {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}



.card {
    display: block;
    width: 300px;
    height: 500px;
    flex-flow: row wrap;
    margin: 25px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    border-radius: 50px;
    border-color: black;
    -webkit-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.37);

    .card-title {
        display: flex;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
        justify-content: center;
        margin-bottom: 25px;

    }


    .card-text {
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        justify-content: center;
        margin-bottom: 25px;

    }

    .bttn {
        display: flex;
        justify-content: center;
    }


    img {
        width: 300px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        height: 250px;
    }

    .btn-qty {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;


        .qty {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 15px;
            font-size: 1.2rem;
        }

        .plus {
            display: flex;
            width: 25px;
            justify-content: center;
            box-shadow: 2px 2px 7px 1px rgba(101, 197, 11, 0.3);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgba(221, 229, 235, 0.664);
            border: none;
            margin: 15px;
            border-radius: 5px;
        }

        .plus:hover {
            background-color: rgb(7, 192, 62);
        }

        .minus {
            display: flex;
            width: 25px;
            justify-content: center;
            box-shadow: 2px 2px 7px 1px rgba(101, 197, 11, 0.3);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgba(221, 229, 235, 0.664);
            border: none;
            margin: 15px;
            border-radius: 5px;
        }

        .minus:hover {
            background-color: rgba(236, 51, 5, 0.938);

        }

    }


}


.add {
    display: flex;
    width: 150px;
    justify-content: center;
    box-shadow: 2px 2px 7px 1px rgba(28, 110, 164, 0.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(128, 174, 204, 0.664);
    border: none;
    padding: 15px;
    border-radius: 5px;
}

.add:hover {
    background-color: transparent;
    text-emphasis-color: white;
}

#cart {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 5rem;
        letter-spacing: 0.5rem;
    }

    .vaciarCart {
        display: flex;
        width: 150px;
        justify-content: center;
        box-shadow: 2px 2px 7px 1px rgba(28, 110, 164, 0.3);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(248, 9, 9);
        border: none;
        padding: 15px;
        border-radius: 5px;
    }

    .vaciarCart:hover {
        background-color: transparent;
        text-emphasis-color: white;
    }
}

#btn-final {
    #finalDiv {
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;

        #buttonFinal {
            display: flex ;
            width: 150px;
            justify-content: center;
            box-shadow: 2px 2px 7px 1px rgba(28, 110, 164, 0.3);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(9, 85, 248);
            border: none;
            padding: 15px;
            border-radius: 5px;
        }

        #buttonFinal:hover {
            background-color: transparent;
            text-emphasis-color: white;
        }
    }


}