#divTorneo{
    display: block;
    width: 100%;
}


.torneos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 100px;

    p {
        background-color: honeydew;
        text-align: center;
        justify-content: center;
        font-size: 1.25rem;
        margin-left: 100px;
        border-radius: 50px;
        width: 250px;
        height: 200px;
        padding-top: 15px;
    }
  
    #imgvivo img{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 200px;
        height: 200px;
        margin: 0px; 

        &:hover{
            height: 350px;
            width: 350px;
        }
}
}
    
#torreg{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    height: 800px;
    margin-bottom: 200px;
    width: 100%;
   

    article{
        display: flex;
        width: 350px;
        height: 200px;
        margin-bottom: 150px;
        

        iframe{
            width: 100%;
            height: 300px;

        }
       
    }
}
     

