html {
    font-size: 62.5%;
   
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(210, 216, 221, 0.644);
    font-family: 'Poppins', sans-serif;
    background-image: url(./IMGS/fondoDos.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 225px;
}




.header nav{
    position: relative;
    justify-content: center;
    background-color: beige;
    width: 40%;
    height: 100px;
    border-radius: 50px;
}

.header nav ul{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(248, 244, 244);
}

.header nav ul li{
    display: flex;
    list-style-type: none; 
    padding: 5px;
    align-content: center;
        
}
.header nav ul li a{
    display: flex;
    justify-content: space-around;
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
    
.header nav ul h1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    font-size: 2rem; 
    font-weight: 1000;
    width: 100%;
    text-align: center; 
    color: rgb(142, 165, 236);
}

.header nav ul h3{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    font-size: 1rem; 
    font-weight: 1000;
    width: 100%;
    text-align: center; 
    color: rgb(142, 165, 236);

}


.header h3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    justify-content: center; 
    font-size: 1rem; 
    font-weight: 1000;
    width: 100%;
    text-align: center;
    color: white;
}


/*HASTA ACA ES EL MENU LISTA*/


/*PARA TODOS LOS SUBTITULOS H3*/
h3{
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 2rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;
}

.novedades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.novedades h4 {
    font-weight: 1000;
    font-size: 1rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;
}
.novedades p{
    vertical-align: bottom;
    font-weight: 300;
    font-size: 1.5rem; 
    text-align: center; 
}
.novedades div{
    text-align: center; 
    background-color: rgb(240, 234, 226);
}
#nota1{
    display: inline-flexbox;
    border: 1px solid rgb(199, 210, 214);  
    width: 300px;
    height: 400px;
    margin: 50px;
    border-radius: 20px;    
    background: rgb(246,221,232);
    background: linear-gradient(90deg, rgba(246,221,232,1) 97%, rgba(224,190,190,1) 100%);
}



#nota1 p{
font-family: Arial, Helvetica, sans-serif;
}

#nota2 p{
    font-family: Arial, Helvetica, sans-serif;
}

#nota3 p{
    font-family: Arial, Helvetica, sans-serif;
}

#nota2{
    float: inline-start;
    border: 1px solid rgb(199, 210, 214);  
    width: 300px;
    height: 400px;
    margin: 50px;
    border-radius: 20px;    
    background: rgb(246,221,232);
    background: linear-gradient(90deg, rgba(246,221,232,1) 97%, rgba(224,190,190,1) 100%);
    }

#nota3{
    float: inline-start;
    border: 1px solid rgb(199, 210, 214);  
    width: 300px;
    height: 400px;
    margin: 50px;
    border-radius: 20px;
    background: rgb(246,221,232);
    background: linear-gradient(90deg, rgba(246,221,232,1) 97%, rgba(224,190,190,1) 100%);
}

/*BANNER ASOCIADOS*/


.asociados{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
    height: 200px;  
}
/*
.carousel-inner img {
    width: 50%;
    height: 300px;
    border-radius: 500px;
    justify-content: center;
    margin-left: 30%;
}

.carousel-inner{
 justify-content: center;
 width: 50%;
 height: 300px;
 align-content: center;
}

#carouselExampleControls{
    width: 50%;
    margin-left: 36.5%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
*/


.bahia img {
    width: 100px;
    height: 100px;
    margin: 100px; 
    border-radius: 100px;
}

.larioja img {
    width: 100px;
    height: 100px;
    margin: 100px; 
    border-radius: 100px;
}


/*COMUNICACION*/
.comunicacion {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.comunicacion h3{
    font-weight: 1000;
    font-size: 2rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;
}
.comunicacion h4{
    font-weight: 200;
    font-size: 1rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;
}
.mapa iframe{
    width: 200px;
    height: 200px;
}
.form{
    background-color: beige;
    padding: 15px;
    width: 200px;
    height: 200px;
}
.form legend{
    float: inline-start;
    font-weight: 75px;
    font-size: 1.5rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;
}
.comunicacion p{
    float: flex;
    font-weight: 75px;
    font-size: 2rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;

}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.redes p{
    margin-bottom: 0px;
    padding: 0px;
    background-color:beige;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    border-start-end-radius: 200px;
}

.copy {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    font-size: 1.25rem; 
    font-weight: 100;
    text-align: center; /* UBICACION DE TXT*/
    color: rgb(0, 0, 0);
    background-color:beige;
}


/*SOBRE NOSOTOROS*/

/*ordenamiento grid*/
.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "somos somos valores"
    "autoridades autoridades valores"; /*poner las filas*/
    row-gap: 10px;

}
/*identidad de los grid*/
.autoridades{
    grid-area: autoridades;
}    

.somos{
    grid-area: somos;
}

.valores{
    grid-area: valores;
}

/*parrafo somos*/
.somos p{
    background-color: bisque;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: blanchedalmond;
    border-radius: 50px;
    height: 500px;
    text-align:justify;
    padding: 10px;
    font-size: 1.25rem;
    margin: 50px;
}
/* tamaño img*/
.somos p img{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 25px;

}
/*caja de columna*/
.contenedorVal{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    justify-content: space-evenly;
    background-color: rgb(168, 224, 112);
    border-radius: 30px;
    height: 1200px;
    margin-top: 50px;
    padding: 10px;
}

.contenedorVal h3{
    font-size: 3rem;
    font-weight: bolder;
}

.contenedorVal h4{
    font-size: 1.25rem;
    font-style: normal;
}

/*tamaños fuentes*/
#val1 {
font-size: 2.5rem;
font-style: oblique;
}

#val2{
    font-size: 2.5rem;
    font-style: oblique;
}
#val3{
    font-size: 2.5rem;
    font-style: oblique;
}
/*distribucion caja autoridades*/
.autorCont{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 500px;
    border-radius: 25px;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 100px;

}

#presi img{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 100px;
    
}

#vice img{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 100px;
}





/*REGLAMENTOS*/
h2{
    font-weight: 200;
    font-weight: 700;
    font-size: 3rem; /* = 20px */
    text-align: center; /* UBICACION DE TXT*/
    color: black;
}

.foam{
display: inline-flex;
flex-flow: wrap row;
justify-content: space-around;
/*width: 500px;
height: 350px;
margin: 75px;*/
}

.foam article img{
    width: 200px;
    height: 200px;
    margin: 100px; 
    border-radius: 100px;

}

.foam article img:hover{
  height: 250px;
  width: 250px;
}



.foam article a{
    display: flex;
    margin-left: 50px;
}

.foam p{
display: flex;
flex-flow: wrap row;
justify-content: center;
background-color: darkgrey;
border-radius: 50px;
/*width: 300px;*/
height: 125px;
margin: 75px;
padding: 15px;
text-align: center;
font-size: 1.5rem;
}

.cloth{
display: inline-flex;
flex-flow: wrap row;
justify-content: space-around;
/*width: 500px;
height: 350px;
margin: 75px;*/
}
.cloth article img{
   width: 200px;
   height: 200px;
   margin: 100px; 
    border-radius: 100px;
}

.cloth article img:hover{
    height: 250px;
    width: 250px;
  }


.cloth article a{
  display: flex;
  margin-left: 50px;
}    
.cloth p{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    background-color: darkgrey;
    border-radius: 50px;
    /*width: 300px;*/
    height: 150px;
    margin: 75px;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
}





/*INTERNACIONAL*/

.inter{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.inter p{
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 600px;
    text-align: justify;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 15px;
}
.inter p img{
    justify-content: center;
    margin-top: 15px;
    height: 200px;
    width: 250px;
    
}

.inter p img:hover{
    height: 300px;
    width: 350px;
}

.nac{
    display: flex;
    flex-flow: wrap row;
    background-color: rgba(53, 201, 8, 0.281);
    width: 90%;
    height: 300px;
    border-radius: 20px;
    border-bottom: lightgreen;
    padding: 25px;
    margin: 40px;
    justify-content: center;
}
.nac p{
   display: flex; 
   flex-flow: wrap row;
   text-align: center;
   font-size: 2rem;
}

.nac img{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 125px;
    width: 125px;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}


/*TORNEOS*/


.torneos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.torneos p {
    background-color: honeydew;
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-left: 100px;
    border-radius: 50px;
    width: 250px;
    height: 200px;
    padding-top: 15px;
}
#vivo iframe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 400px;
    height: 250px;
    margin-left: 608px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#imgvivo img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 0px; 
}

#imgvivo img:hover{
 height: 350px;
 width: 350px;
}

.torreg{
    display: flex;
    flex-direction: row;
}
/*MEDIA QUERIES*/

/*tablet ipad*/

@media screen and (max-width: 1023px ){
   
    
    /*novedades*/

    .novedades{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .somos p{
        height: 1050px;
    }
    
    .autorCont{
        height: 300px;
    }
    .gridContainer{
        grid-template-rows: none;
    }

    #vivo iframe {
        margin-left: 200px;
        
    }

    .inter{
        height: 1300px;
    }
    .nac{
        width: 80%;
        height: 600px;
    }

}

@media screen and (max-width: 767px){

    .header{
       justify-items:center;
        height: 150px;
        width: 80%;
     }
    .header nav{
        width: 90%;
        height: 100px;
    }
    
  
    .header nav ul li{
        display: flex;
        flex-flow: wrap row;
        list-style-type: none; 
        padding: 5px;
        align-content: center;
            
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        font-size: 1.25rem;
    }
     
    .header nav ul h3{
        display: none;
           
    }
    

    .somos p{
        height: 100%;
    }
    .somos p img {
        display: flex;
        width: 100px;
        height: 100px;
        margin: 20px;
        border-radius: 25px;
    }
    
    #presi img{
        display: flex;
        width: 100px;
        height: 100px;
                
    }
    
    #vice img{
        display: flex;
        width: 100px;
        height: 100px;
    }
    
    
    .autorCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
        border-radius: 25px;
        margin: 20px;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .gridContainer{
        grid-template-rows: none;
    }

    .foam p{
        width: auto;
        height: auto;
    }

    .cloth p{
        width: auto;
        height: auto;
    }

    /*internacional*/    
    .inter{
        height: auto;
    }
   
    .nac{
        width: auto;
        height: auto;
        
    }
    .nac p{
       display: flex; 
       flex-flow: wrap row;
       text-align: center;
       font-size: 2rem;
    }
    
    .nac img{
        height: 100px;
        width: 100px;
       
        
    }

   
}